#wordList,
#wordSearch {
      border: 2px solid black;
      margin: 1rem;
}

#wordSearch {
      background-color: #aacccc;
}

td {
      padding: 5px 10px;
      margin: 1px;
      text-align: center;
      vertical-align: middle;
      font-family: Arial, sans-serif;

      position: relative;
}

table td.highlighted {
      color: #0000ff !important;
      font-weight: bold !important;
      background-color: #ffcc00 !important;
}

table td.answers {
      background-color: #aacccc;
      padding: 10px !important;
}

.correct {
      font-weight: bold;
      color: #ffffff;
      background-color: #00cc00;
}
